body {
    width: 800px;
    margin: 0 auto;
}

.organize-seats {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#seat-layout {
    width: 400px;
    white-space: pre-wrap;
}

.form-line {
    margin: 10px 0;
}

#organized-result {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.seat-grid {
    align-self: flex-start;
    border: black solid 1px;
}

.seat-grid td {
    width: 20px;
    height: 20px;
    background: white;
    border: transparent solid 2px;

    text-align: center;
}

.seat-grid .seat {
    background: url("/assets/img/seat.svg") no-repeat center;
}

.seat-grid .seat.taken {
    background-color: #dddddd;
}

.seat-grid .seat.highlight {
    border: red solid 2px;
}
